body{
	font-size: 80%;
	background-repeat: no-repeat;
	font-family: "Courier New"'Courier New', Courier, monospace;
	letter-spacing: 0.15em;
    background-color: rgba(253, 255, 221, 0.877)
	
}

/* General */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --color1: #B98C27;
}

#musicbtn{
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 31pt;
    min-width: 200px;
    min-height: 55px;
    text-decoration: none;
    transition: 0.75s;
	background-image: linear-gradient(to bottom right, rgb(255, 252, 99), rgb(255, 255, 255), rgb(255, 253, 152));
}
#musicbtn:hover{
    color: var(--color1);
    cursor: pointer;
}
#notes{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sparkle-animation {
    position: absolute;
    font-size: 35px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    opacity: 0;
    
}

/* Animations */
.sparkle-delay-1 {
    animation-delay: 0.5s;
}
.sparkle-delay-2 {
    animation-delay: 1s;
}
.sparkle-1{
    animation-name: sparkle1;
}
.sparkle-2{
    animation-name: sparkle2;
}
.sparkle-3{
    animation-name: sparkle3;
}
.sparkle-4{
    animation-name: sparkle4;
}
.sparkle-5{
    animation-name: sparkle5;
}
.sparkle-6{
    animation-name: sparkle6;
}
@keyframes sparkle1{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: -100px;
        opacity: 0;
    }
}
@keyframes sparkle2{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: 80px;
        margin-left: -100px;
        opacity: 0;
    }
}
@keyframes sparkle3{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: -20px;
        margin-left: 100px;
        opacity: 0;
    }
}
@keyframes sparkle4{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: -40px;
        margin-left: -80px;
        opacity: 0;
    }
}
@keyframes sparkle5{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: 80px;
        margin-left: 100px;
        opacity: 0;
    }
}
@keyframes sparkle6{
    0% {
        font-size: 35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: -80px;
        margin-left: 100px;
        opacity: 0;
    }
}

#page{
	max-width: 970px;
	min-width: 720px;
	height: 450px;
	margin: 30px auto 160px auto;
	padding: 20px;
	border: 4px double #B98C27;
	transition: 0.5s linear;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom right, rgb(255, 252, 99), rgb(255, 255, 255), rgb(255, 253, 152));
}
#logo{
	width: 570px;
	margin:10px auto 25px auto ;
    text-align: center;
}


.row {
    display: flex;
    justify-content:baseline;
	justify-content: center;
    margin: 20px;
}

.image-box {
    width: 200px;
    height: 200px;
    border: 2px solid #B98C27;
    overflow: hidden;
    display: inline-block;
    transition: border-color 0.3s, transform 0.3s;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box:hover {
    border-color: #292727; /* Change border color on hover */
    transform: scale(1.1); /* Add a scale effect on hover */
	cursor: pointer;
}

ul{
	width: 570px;
	padding: 20px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #292727;
	border-bottom: 1px solid #292727;
	text-align: center;
	display:flex;
	justify-content: center;

}

li{
	font-size: 15px;
	display:inline;
	margin: 0px 10px;

}

p{
	font-size: 15px;
	text-align: center;
	width: 600px;
	margin: 20px auto  20px auto;
	font-weight: normal;

}

a{
	color:#292727;
	text-transform: uppercase;
	text-decoration: none;
	padding:6px 10px ;

}
a:hover, a.on{
	color: #B98C27;
}
